@charset "UTF-8";
/* CSS Document */

.C-header-title{
	font-size: 50px;
	font-family: "Arial Black", Gadget, "sans-serif";
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 40px;
}

.C-text1{
	font-size: 15px;
	margin: 50px 0 0 270px;
}

.L-flex{
	display: flex;
}

.L-block{
	display: block;
}
.C-img1{
	margin-left: 100px;
}

.C-text2{
	font-size: 18px;
	margin-top: 50px;
	margin-left: 270px;
}

.C-text2-1{
	font-size: 15px;
	margin: 50px 0 0 270px;

}

.C-text3{
	font-size: 25px;
	font-family: "Arial Black", Gadget, "sans-serif";
	text-align: center;
	margin: 100px 0 0 0;
}

.C-img2{
	margin: 20px auto 0;
}

.C-kao-pc{
	display: block;
}

.C-kao-sp{
	display: none;
}

@media screen and (max-width: 480px) { /*ウィンドウ幅が0～479pxの場合にcssを適用*/


	.C-text1{
		font-size: 15px;
		margin: 50px auto;
	}


	.C-text2{
		font-size: 20px;
		text-align: center;
		margin: 50px auto 20px;
	}

	.C-text2-1{
		font-size: 15px;
		margin: 5px auto;

	}

	.L-flex{
		display: block;
	}

	.C-img1{
		margin:30px auto;
	}

	.C-text3{
		font-size: 20px;
		font-family: "Arial Black", Gadget, "sans-serif";
		text-align: center;
		margin: 60px 5% 20px;
	}

	.C-img2{
		margin: 10px auto 30px;
	}

	.C-kao-pc{
		display: none;
	}
	.C-kao-sp{
		display: block;
	}


}