@charset "UTF-8";
/* CSS Document */

html{
	height: 100%;
	width: 100%;
	font-size: 62.5%;
}

body{
    line-height: 1.5;
    color:#000000;
    font-family:  "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic,'Meiryo UI',Meiryo,"ＭＳ ゴシック",Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
	background-color: #FFFFFF;
}

body,h1,h2,h3,h4,h5,h6,p,figure,blockquote,ul,ol,dl,dd {
    margin: 0
}

img{
	max-width: 100%;
	height:auto;
	display: block;
}

.L-wrapper{
 /* max-width: 1300px;*/
  margin: 0 auto;
}
.C-name-box{
	max-width: 100%;
}
.C-name{
	margin: 40px 0 20px 60px;
}

nav{
	font-family: Tahoma, Geneva, "sans-serif";
	text-transform:uppercase;
	padding: 20px 40px 30px 0;
	text-align: right;
	font-size: 18px;
}
nav ul{
	margin: 0 ;
	padding: 0 ;
}
nav ul li{
	list-style: none;
	display: inline-block;
	width: 10%;
	min-width: 90px;
}
nav ul li a{
	text-decoration: none;
	color: #000000;
}

nav ul li a:hover{
	color: #E7DA66;
}

.L-block{
	display: block;
}

.header-img{
	margin: 60px auto 20px;
}

.C-photo-box{
	max-width: 100%;
}

.C-header-title{
	font-size: 50px;
	font-family: "Arial Black", Gadget, "sans-serif";
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 20px;

}
.C-text1{
	font-size: 18px;
	margin: 0 0 10px 290px;
}

.C-text-about{
	font-size: 18px;
	margin: 20px 0 10px 290px;
	font-family: "Arial Black", Gadget, "sans-serif";
	text-transform: capitalize;
}
.C-text1-1{
	font-size: 15px;
	margin: 0 0 30px 290px;
}

.C-text2{
	font-size: 18px;
	margin: 50px 0 10px 290px;
	font-family: "Arial Black", Gadget, "sans-serif";
	text-transform: capitalize;
}

.L-flex{
	display: flex;
}

.C-band1{
	margin:0px 0 0 300px;
}

.C-band2{
	margin:50px 50px 0px 50px;
}


.C-photo1{
	margin: 0 0 0 120px;
}

.C-photo2{
	margin:0px 0 0 350px;
	
}
.C-about-box{
	margin: 50px 0 0px 0;
}

.C-copyright{
	text-align: center;
}

.C-text_w1{
	font-size: 30px;
	margin: 40px 0 0px 160px;
}

.C-text_w2{
	font-size: 25px;
	margin: 50px 0 0  20px;
}

.C-text_w3{
	font-size: 15px;
	margin: 30px 0 0 20px;
}


.C-text_w4{
	font-size: 25px;
	margin: 70px 0 0 420px;
}

.C-text_w5{
	font-size: 15px;
	margin: 30px 0 40px 420px;
}

.img_wrap{
  border: 1px solid #ddd;
  width: 300px;
  margin: 50px 40px 0px 270px;
  overflow: hidden;
}
.img_wrap img{
  width: 100%;
  cursor: pointer;
  transition-duration: 0.3s;
}
.img_wrap:hover img{
  opacity: 0.6;
  transition-duration: 0.3s;
}


.C-photo-pc{
	display: block;
}
.C-photo-sp{
	display: none;
}


@media screen and (max-width: 480px) { /*ウィンドウ幅が0～479pxの場合にcssを適用*/

	.L-wrapper{
	margin: 0 3%;
	}
		
	.C-name{
		margin: 10px  auto 50px ;
	}

	.C-photo-pc{
		display: none;
	}

	.C-photo-sp{
		display: block;
	}
		
	nav{
		font-family: Tahoma, Geneva, "sans-serif";
		text-transform:uppercase;
		padding: 0px;
		margin: 0 auto 70px;
		text-align: center;
		font-size: 20px;
	}	
		
		
		
	nav ul li{
		list-style: none;
		display: inline-block;
		width: 15%;
		min-width: 100px;
	}	
		
		
	.C-text1{
		font-size: 18px;
		margin: 50px auto 10px;
		text-align: center;
	}

	.C-text1-1{
		font-size: 15px;
		margin: 0 auto 30px;
	}

	.C-text2{
		font-size: 18px;
		margin: 50px auto 10px ;
		text-align: center;
	}	
		
	.L-flex{
		display: block;
	}	
		
		
	.C-band1{
		margin: 0 auto;
	}

	.C-band2{
		margin:5px auto ;
	}

	.C-band3{
		margin: 0 auto;
	}

	.C-photo1{
		margin: 0 auto;
		width: 100%;
	}

	.C-photo2{
		margin: 0 auto;
		width: 100%;
		
	}	
		

	.C-band{
		margin: 0 auto;
		width: 100%;
	}	

		
	.C-text_w1{
		font-size: 30px;
		margin: 40px auto;
		text-align: center;
	}

	.C-text_w2{
		font-size: 20px;
		margin: 10px auto;
		text-align: center;
	}

	.C-text_w3{
		font-size: 15px;
		margin: 30px auto 20px ;
		
	}

	.C-text_w4{
		font-size: 20px;
		margin: 70px auto 10px;
		text-align: center;
	}

	.C-text_w5{
		font-size: 15px;
		margin: 30px auto 40px;
	}
		
		
	.img_wrap{
	border: 1px solid #ddd;
	width: 300px;
	margin: 50px auto;
	overflow: hidden;
	}
		

}










